
@{
    List<Colegio.Models.Col_Roles> registros = ViewBag.Registros;
}
<div class="card-body">
    <table id="detalle_perfiles_table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre de perfil</th>
                <th>Fecha Creación</th>
                <th>Última Actualizacón</th>
                <th>Último Login</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="autorizacion_index_table">
            @if (registros != null)
            {
                int count = 1;
                foreach (var item in registros)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.NombreRol</td>
                        <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td>@item.FechaActualizacion</td>
                        <td>@item.UltimoLogin</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Estado</td>
                        <td>
                            <a href='#' onclick="modalVerAutorizacion(@item.RolId)">
                                <i class='fas fa-eye'></i>
                            </a><a href='#'>
                                <i class='fas fa-edit'></i>
                            </a>
                            <a href='#' onclick="modalEliminarAuorizacion(@item.RolId)">
                                <i class='fas fa-trash'></i>
                            </a>
                        </td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_ModalVerAutorizacion")