@{
    List<Colegio.Models.ModelHelper.EmpleadosContratados> registros = ViewBag.Registros;
    string style = "style=background-color:#d9edf7;color:#31708f; "; //No usa la plataforma
    string stylePrestamo = "style=background-color:#fcf8e3;color:#8a6d3b; "; //Falta por asignar insumos
}
<div class="card-body">
    <table id="detalle_perfiles_table" class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Perfil</th>
                <th>Nombre</th>
                <th>Ingreso</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Creación</th>
                <th>Último Login</th>
                <th>Estado</th>
                <th style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody id="empleados_tabla_index" style="font-size: 90%;">
            @if (registros != null)
            {
                int count = 1;
                @foreach (var item in registros)
                {

                    string tono = item.Prestamos == "NECESITA" ? stylePrestamo :
                        item.Prestamos == "NO NECESITA" && item.UsuarioId == -1 ? style :
                        item.Prestamos == "PRESTADO" && item.UsuarioId == -1 ? style :
                        item.Prestamos == "PRESTADO" && item.UsuarioId != -1 ? "" : "";

                    <tr @tono id="emp_@item.Id">
                        <td>@count</td>
                        <td>@item.Usuario</td>
                        <td>@item.Perfil</td>
                        <td>@item.Nombre</td>
                        <td>
                            @if (!item.Estado.Equals("PENDIENTE"))
                            {
                                @item.Ingreso.ToString("dd/MM/yyyy")
                            }
                        </td>
                        <td>@item.Correo</td>
                        <td>@item.Celular</td>
                        <td>@item.Creacion.ToString("dd/MM/yyyy")</td>
                        <td>@item.UltimoLogin</td>
                        <td>@item.Estado</td>
                        <td>
                            @if (ViewBag.Actualizar)
                            {
                                @if (item.Estado.Equals("PENDIENTE"))
                                {
                                    <a href='#' onclick="mostrarPendientes(@item.Id, '@item.Progreso')" id="icon_pendiente_@item.Id">
                                        <i class="fas fa-clipboard-list"></i>
                                    </a>
                                }
                                if (item.Estado.Equals("ACTIVO"))
                                {
                                    <a href='#' onclick="mostrarPendientes(@item.Id, '@item.Progreso')" id="icon_activo_@item.Id">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                }
                                if (item.Estado.Equals("INACTIVO"))
                                {
                                    <a href="#" onclick="activarEmpleado(@item.Id, '@item.Progreso')" id="icon_activars_@item.Id">
                                        <i class="far fa-hand-point-up"></i>
                                    </a>
                                }
                            }
                            @if (ViewBag.Eliminar)
                            {
                                <a href='#' onclick="modalEliminarEmpleado(@item.Id)" id="icon_eliminar_@item.Id">
                                    <i class='fas fa-trash'></i>
                                </a>
                            }
                        </td>
                    </tr>
                    count++;
                }
            }

        </tbody>
    </table>
</div>